
body{
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../public/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
   
}
.starta{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    
}
.primarya{
    min-width:30vh ;
    height: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: bolder;

}
/* Responsive styles for .container1 */
@media (max-width: 768px) { /* Tablet and below */
    .container1 {
        margin-top: 15vh;
    }
    .starta {
        font-size: 30px;
    }
    .primarya {
        min-width: 25vh;
        height: 7vh;
        font-size: 1rem;
    }
}

@media (max-width: 576px) { /* Mobile and below */
    .container1 {
        margin-top: -5vh;
    }
    .primarya {
        min-width: 20vh;
        height: 6vh;
        font-size: 0.9rem;
    }
    .starta {
        font-size: 20px;
    }
}


h1,
h2,
h3,
h5 {
    color: aliceblue;
    font-family: 'Helvetica Neue';
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn,
.btn-dark,
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:focus + .btn,
.btn:focus {
    border: none;
    box-shadow: none;
}